<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Welcome to Kiwico</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>  
    <script type="text/javascript" src="../js/ng-route.js"></script>

</head>

<body ng-app="Demo">
   
    <!--Section start here -->
    <section>
        <div class="container">
            <a href="../index.html" class="row mt-4 ml-1 back">
                <i class="fa fa-angle-double-left mr-1 back-arrow"></i>Back To Account </a>

            <div class="row">
                <h1 class="col-12 text-center mt-4 mb-4" id="heading">What is the child's
                    <strong>name</strong>?</h1>
            </div>
            <div class="form-row">
               
                <div class="col-md-3"></div>

                <div class="col-6 col-md-3">
                    <label for="firstName">
                        <strong>First Name</strong>
                    </label>
                    <input type="text" class="form-control" id="firstName" placeholder="Steve" required>
                </div>
                <div class="col-6 col-md-3">
                    <label for="lastName">
                        <strong>Last Name</strong>
                    </label>
                    <input type="text" class="form-control" id="lastName" placeholder="Kiwi" required>
                </div>
                <div class="col-md-3"></div>
            </div>
            
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-12 col-md-6 mt-5 mb-1">
                   <a href="#!first_page/second_page">
                    <button class="btn col-12 nxt" id="nxt-one" type="submit" >Next
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                    </a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script type="text/javascript " src="../js/main.js "></script>
</body>

</html>