<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Welcome to Kiwico</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
	<script type="text/javascript" src="../js/ng-route.js"></script>

</head>

<body>
<!-- Section Start here -->

    <section>
        <div class="container">
            <a href="../index.html" class="row mt-4 ml-1 back">
                <i class="fa fa-angle-double-left mr-1 back-arrow"></i>Back To Account </a>

            <div class="row">
                <h1 class="col-12 text-center mt-4 mb-4" id="heading">Select Esther's
                    <strong>gender</strong>?</h1>
            </div>
            <div class="row">

                <div class="col-6 p-2">
                <a href="#!first
_page/second_page/third_page/forth_page">
						<label for="boy" class="lbl float-right"><img src="http://icdn.kiwicrate.com/site/account/gender-boy.png" alt="boy" class="img-fluid gender img-link"/></label>
               </a>
                </div>
                <div class="col-6 p-2">
                  <a href="#!first
_page/second_page/third_page/forth_page">
                  
                  
                   <label for="girl" class="lbl"><img src="http://icdn.kiwicrate.com/site/account/gender-girl.png" alt="girl" class="img-fluid gender img-link"/> </label>
                   </a>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript " src="../js/main.js "></script>
</body>

</html>